<mat-toolbar class="footer">
  <div class="column">
    <img class="logo" src="../../../../assets/img/logo-red.png" alt="LOGO">
  </div>

  <div class="column">
    <div class="contact-info">
      <span style="font-weight: bold;">Contato</span>
      <div><i class="material-icons v-middle">phone</i>+55 51 2160-9406</div>
      <div><i class="material-icons v-middle">email</i>sac.solucaorh@gmail.com</div>
      <div><i class="material-icons v-middle">location_on</i>Av Protasio Alves 8443 SL 307</div>
    </div>
    <hr class="show-mobile">
  </div>

  <div class="column">
    <div class="links">
      <span style="font-weight: bold;">Institucional</span>
      <ul style="margin-top: -0.1em !important;">
        <li><a href="#">Termos de Serviço</a></li>
        <li><a href="#">Política de Privacidade</a></li>
        <li><a href="#">FAQ</a></li>
      </ul>
    </div>
  </div>
</mat-toolbar>


  <button class="scroll-to-top-btn" (click)="scrollToTop()">
    <mat-icon style="color: #6e0607; margin-top: 0.2em; margin-left: 0.2em">keyboard_arrow_up</mat-icon>
  </button>

  <button class="phone-btn" (click)="redirectToContactScreen()">
    <mat-icon style="color: #6e0607; margin-top: 0.2em; margin-left: 0.2em">phone</mat-icon>
  </button>
