<mat-toolbar class="footer">
  <div class="column">
    <img class="logo" src="../../../../assets/img/logo-red.png" alt="LOGO" />
  </div>

  <div class="column">
    <h1 style="font-weight: bold">Contato</h1>
    <div class="contact-info">
      <div><i class="material-icons v-middle">phone</i>+55 51 2160-9406</div>
      <div>
        <i class="material-icons v-middle">email</i>sac.solucaorh@gmail.com
      </div>
      <div>
        <i class="material-icons v-middle">location_on</i>Av Protasio Alves 8443
        SL 307
      </div>
    </div>
    <hr class="show-mobile" />
  </div>

  <div class="column">
    <h1 style="font-weight: bold">Institucional</h1>
    <div class="links">
      <ul style="margin-top: -0.1em !important">
        <li><a href="#">Quem somos</a></li>
        <li><a href="#">Programa de integridade</a></li>
        <li><a href="#">Regimento interno</a></li>
        <li><a href="#">Equipe</a></li>
        <li><a href="#">Código de Ética</a></li>
      </ul>
    </div>
  </div>
</mat-toolbar>

<button class="scroll-to-top-btn" (click)="scrollToTop()">
  <mat-icon style="color: #6e0607; margin-top: 0.2em; margin-left: 0.2em"
    >keyboard_arrow_up</mat-icon
  >
</button>

<button class="phone-btn" (click)="redirectToContactScreen()">
  <mat-icon style="color: #6e0607; margin-top: 0.2em; margin-left: 0.2em"
    >phone</mat-icon
  >
</button>
